# Gradle / IDE / Forge
.gradle/
/build/
/run/
/run-gametest/*
!/run-gametest/gameteststructures/
!/run-gametest/gameteststructures/**
/out/
logs/

.idea/
.vscode/
*.iml
*.ipr
*.iws

bin/
*.class

# OS junk
.DS_Store
Thumbs.db
