# Gradle / IDE / Forge
.gradle/
/build/
/run/
/run-gametest/
/out/
logs/
*.log
*.log.gz
server.properties
eula.txt
options.txt
usercache.json

!/run-gametest/gameteststructures/
!/run-gametest/gameteststructures/*.snbt

.idea/
.vscode/
*.iml
*.ipr
*.iws

bin/
*.class

# OS junk
.DS_Store
Thumbs.db
